/*{
    margin: 0;
    padding: 0;
}*/
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    background-image: url(/img/abstract-geometric-colorful-background-free-vector.jpg);
    background-repeat: repeat-y;
}

.container{
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    border:2px solid black;
}

header{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.logo{
    width: 200px;
    margin: 10px;
}

.navegador{
    position: relative;
    left: 400px;
}
form{
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
}

a{
    background-color: white;
}

.navegador a{
    border: 1px solid black;
    padding: 3px;
    margin: 10px;
    font-size: 20px;
    font-weight: 50px;
    text-decoration: none;
}

h1{
    background-color: aliceblue;
    opacity: 0.8;
}
h1,h2{
    text-align: center;
}
.caja{
    background-color: white;
    display: flex;
    align-content: ;
    padding: 5px;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border:2px solid black;
    margin: 2px;
    
}
.mas{
    position: relative;
    left: 300px;
    bottom: 30px;
    color: black;
    text-align: center;
    font-weight: bolder;
    width: 75px;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    align-self: auto;
}

fieldset{
    width: 1000px;
    background-color: white;
}

fieldset#datos label{
    display: flex;
    flex-direction: column;
}
footer{
    background-color: white;
    display: flex;
    flex-direction: row;
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

h3{
    position: relative;
    left: 1100px;
}

table, th, td{
    background-color: white;
    border: 2px solid black;
}

th{
    height: 50px;
    background-color: gray;
}
td{
    height: 25px;
}
#detalles{
    display: flex;
    gap: 5px;
    flex-direction: row;
    background-color: white;
}

.imagen{
    align-self: center;
}
